.container {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 1fr 100px;
  grid-gap: 2px;
  height: auto;
  grid-template-areas: 
      ". header ."
      ". main ."
      ". footer .";
  border: 1px solid black;
  background-color: lavender;  
  color: black;
}
.header {
  grid-area: header;
  background-color: lavender;  
  text-align: center;
  font-size: large;
  padding: 15px;  
}
.main {
  grid-area: main;
  background-color: lavender;  
}
.footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: lavender;  
  text-align: left;    
}
.img1 {
  max-width: 100%;
  height: auto;
}
.img2 {
  width: 250px;
  height: 30%;
  padding: 1px;
  margin: 0px;
}
.video {
  background-color: lavender; 
  display: flex; flex-direction: row;
  justify-content: flex-start;
}
.informatieformulier {
  padding: 15px;
  border: 1px solid black;
  margin: 50px 15px 20px 0px;
  background-color: lavender;
  line-height: 50px;
  font: normal;
}
@media (min-width: 768px) {
.container {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 1fr 100px;
  grid-gap: 2px;
  grid-template-areas: 
        ". header ."
        ". main."
        ". footer .";
  background-color: lightsteelblue;  
  }
}
@media (min-width: 768px) {
.header {
  grid-area: header;
  text-align: center;
  background-color: lightsteelblue;
  font-size: large;
  padding: 15px;
  }
}
@media (min-width: 768px) {
.main {
  grid-area: main;
  background-color: lightsteelblue;  
  }
}
@media (min-width: 768px) {
.footer {
  grid-area: footer;
  background-color: lightsteelblue;  
  text-align: left;
  border: 1px solid black;    
  }
}
  @media (min-width: 768px) {
.video {
  background-color: lightsteelblue;  
  }
}
@media (min-width: 1024px) {
.container {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 1fr 100px;
  grid-gap: 2px;
  grid-template-areas: 
        ". header ."
        ". main."
        ". footer .";
  background-color: cornsilk;  
  }
}
@media (min-width: 1024px) {
.header {
  grid-area: header;
  text-align: center;
  background-color: cornsilk;
  font-size: large;
  padding: 15px;
  }
}
@media (min-width: 1024px) {
.main {
  grid-area: main;
  background-color: cornsilk;
  font-size: large;  
  }
}
@media (min-width: 1024px) {
.footer {
  grid-area: footer;
  background-color:cornsilk;  
  text-align: left;
  font-size: large;
  border: 1px solid black;     
  }
}
@media (min-width: 768px) {
.informatieformulier {
  padding: 15px;
  border: 1px solid black;
  margin: 50px 15px 20px 0px;
  background-color: lightsteelblue ;
  line-height: 50px;
  font: normal;
  }
}
@media (min-width: 1024px) {
.informatieformulier {
  padding: 15px;
  border: 1px solid black;
  margin: 50px 15px 20px 0px;
  background-color: cornsilk;
  line-height: 50px;
  font: normal;
  }
}
@media (min-width: 1024px) {
.video {
  background-color: cornsilk;
  }
}
    

